# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon

# IDEs and editors
.vscode
.code
.idea
*.sw?

# Outputs & Binaries
*.pdf
__debug_bin*
*.test
*.txt
*.log
*.out
*.exe
*.env
go.work.sum
*.pprof
*.pprof.gz
*.wasm