go 1.26

use (
	./camunda
	./durable-wasm
	./durable-wasm/examples/camunda/host
	./durable-wasm/examples/camunda/worker
	./durable-wasm/examples/gotenberg-telegram/host
	./durable-wasm/examples/gotenberg-telegram/worker
	./durable-wasm/examples/process-csv/host
	./durable-wasm/examples/process-csv/worker
	./durable-wasm/examples/temporal/host
	./durable-wasm/examples/temporal/worker
	./gotenberg
	./httpstream
	./sequin
	./telegram
	./temporal
)
