go 1.26.1

use (
	./ai
	./camunda
	./compress
	./cryptauth

	./cryptenv
	./gotenberg
	./httpstream
	./jsonschema
	./logger
	./mail
	./restate
	./sequin
	./telegram
	./temporal
	./totp
	./wasman
	./wasman/runner
	./wasman/testdata
	./wasmee
)
